{% extends 'layouts.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='creator.css') }}">
<div class="banner4">
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='favion.png') }}" alt="" width="30" height="30" class="d-inline-block align-text-top">
            <div class="par1">
                Heal
            </div>
          </a>
          <ul style="text-decoration: none;">
            <li>
                {% if user.role == 'creator' %}
                  <a class="nav-link" style="color: #fff;" href="{{url_for('views.creator')}}">back</a>
                {% else %}
                <a class="nav-link"  style="color: #fff;" href="{{url_for('views.dashboard')}}">back</a>
                {% endif %}
              </li>
            </ul>

        </div>
    </nav>
    <div class="title" style="text-align: center;color: aliceblue;font-size: 30px;">Create Album</div>
    <div class="container" style="padding-top: 10px;padding-bottom: 10px;">
        <form action="{{ url_for('views.create_page') }}" method="post" enctype="multipart/form-data">
                <div class="album-details">
                    <div class="input-box">
                        <span class="details">Name</span>
                        <input type="text" id="album_name" name="album_name"  placeholder="Enter Album Name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Genre</span>
                        <input type="text" id="genre" name="genre"  placeholder="Enter Genre" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Artist</span>
                        <input type="text" id="artist" name="artist"  placeholder="Enter Artist Name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Upload Image</span>
                        <input type="file" id="image" name="image">
                    </div>
                    <div class="button">
                        <input type="submit" value="create">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
