{% extends 'layouts.html' %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='creator.css') }}">
<div class="banner4">
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='favion.png') }}" alt="" width="30" height="30" class="d-inline-block align-text-top">
            <div class="par1">
                Heal
            </div>
          </a>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  style="color: #fff;" href="{{url_for('views.logout')}}">Log out</a>
            </li>
            <li class="nav-item">
              {% if user.role == 'creator' %}
                <a class="nav-link" style="color: #fff;" href="{{url_for('views.creator')}}">back</a>
              {% else %}
              <a class="nav-link"  style="color: #fff;" href="{{url_for('views.dashboard')}}">back</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </nav>
      <h1 style="text-align: center; color: white; font-family: 'Times New Roman', Times, serif;"> Your Profile Page</h1>
      <div class="transparent-box">
        <h1> Welcome,{{ user.username }}!</h1>
        <p>Your email is: {{ user.email }}</p>
        <p>Your role is : {{user.role}}</p>
        <h2>Albums Added by You</h2>
        {% if creator_albums %}
        <ul>
        {% for album in creator_albums %}
        <li>
          <strong>{{ album.name }}</strong>
        <a href="{{ url_for('views.update_album', album_id=album.id) }}" style="margin: 5px; border-radius:3px;text-decoration: none; background-color: rgb(20, 181, 221); color: rgb(1, 10, 19);align-items: center; font-size: 17px;border: 1px solid black;">Update Album</a>

        <a href="{{ url_for('views.delete_album', album_id=album.id) }}" style="margin: 5px; border-radius:3px;text-decoration: none; background-color: rgb(221, 20, 87); color: rgb(1, 10, 19);align-items: center; font-size: 17px;border: 1px solid black;"onclick="return confirm('Are you sure?')">Delete Album</a>

        <a href="{{ url_for('views.select_songs', album_id=album.id) }}" style="margin: 5px; border-radius:3px;text-decoration: none; background-color: rgb(11, 161, 98); color: rgb(1, 10, 19);align-items: center; font-size: 17px;border: 1px solid black;">Select Songs</a>
        </li>
        {% endfor %}
        </ul>
       {% else %}
        <p>No albums added yet.</p>
      {% endif %}
      </div>

</div>

{%endblock%}
